
USE [QLCX]
GO
/****** Object:  Table [dbo].[BAO_CAO_SU_CO]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAO_CAO_SU_CO](
	[MABC] [varchar](10) NOT NULL,
	[THOIGIANGUI] [datetime2](7) NOT NULL,
	[MOTA] [nvarchar](max) NOT NULL,
	[MUCDONGUYHIEM] [nvarchar](30) NULL,
	[HINHANH] [varbinary](max) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[MAKHACH] [varchar](10) NOT NULL,
	[MACAY] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAY]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAY](
	[MACAY] [varchar](10) NOT NULL,
	[TENCAY] [nvarchar](100) NOT NULL,
	[NGAYTRONG] [date] NOT NULL,
	[CHIEUCAO] [decimal](5, 2) NULL,
	[DUONGKINH] [decimal](5, 2) NULL,
	[VITRI] [nvarchar](200) NULL,
	[TINHTRANGSINHTRUONG] [nvarchar](50) NOT NULL,
	[TRANGTHAIHOATDONG] [nvarchar](30) NOT NULL,
	[MALOAI] [varchar](10) NOT NULL,
	[MAKHU] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HO_THUC_VAT]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HO_THUC_VAT](
	[MAHO] [varchar](10) NOT NULL,
	[TENHO] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_THAM_QUAN]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_THAM_QUAN](
	[MAKHACH] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[DIENTHOAI] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHU_TRUNG_BAY]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHU_TRUNG_BAY](
	[MAKHU] [varchar](10) NOT NULL,
	[TENKHU] [nvarchar](100) NOT NULL,
	[VITRI] [nvarchar](200) NULL,
	[DIENTICH] [decimal](8, 2) NULL,
	[MOTA] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_THUC_VAT]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_THUC_VAT](
	[MALOAI] [varchar](10) NOT NULL,
	[TENTHUONGGOI] [nvarchar](100) NOT NULL,
	[TENKHOAHOC] [varchar](150) NOT NULL,
	[DACDIEMSINHHOC] [nvarchar](max) NULL,
	[MOITRUONGSONG] [nvarchar](200) NULL,
	[TINHTRANGBAOTON] [nvarchar](50) NULL,
	[MAHO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIENTHOAI] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[MATKHAU] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_CHAM_SOC]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_CHAM_SOC](
	[MAPHIEUCS] [varchar](10) NOT NULL,
	[NGAYCHAMSOC] [date] NOT NULL,
	[NOIDUNGCHAMSOC] [nvarchar](1000) NOT NULL,
	[PHUONGPHAP] [nvarchar](200) NULL,
	[TINHTRANGSAUCHAMSOC] [nvarchar](200) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[MACAY] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_KHAO_SAT]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_KHAO_SAT](
	[MAKS] [varchar](10) NOT NULL,
	[NGAYKHAOSAT] [date] NOT NULL,
	[CHIEUCAOGHINHAN] [decimal](5, 2) NULL,
	[DUONGKINHGHINHAN] [decimal](5, 2) NULL,
	[TINHTRANGLA] [nvarchar](100) NULL,
	[TINHTRANGSINHTRUONG] [nvarchar](50) NULL,
	[NHANXET] [nvarchar](500) NULL,
	[MACAY] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEU_CAU_BAO_TRI]    Script Date: 7/3/2026 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEU_CAU_BAO_TRI](
	[MABT] [varchar](10) NOT NULL,
	[NGAYTAO] [date] NOT NULL,
	[NOIDUNGBAOTRI] [nvarchar](1000) NOT NULL,
	[MUCDOUUTIEN] [nvarchar](20) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[MANV] [varchar](10) NOT NULL,
	[MACAY] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAO_CAO_SU_CO] ([MABC], [THOIGIANGUI], [MOTA], [MUCDONGUYHIEM], [HINHANH], [TRANGTHAI], [MAKHACH], [MACAY]) VALUES (N'BC01', CAST(N'2023-10-28T09:15:30.0000000' AS DateTime2), N'Thấy một cành to bị gãy ngang treo lơ lửng trên đầu', N'Cao', NULL, N'Chờ xử lý', N'KH01', N'C02')
INSERT [dbo].[BAO_CAO_SU_CO] ([MABC], [THOIGIANGUI], [MOTA], [MUCDONGUYHIEM], [HINHANH], [TRANGTHAI], [MAKHACH], [MACAY]) VALUES (N'BC02', CAST(N'2023-10-29T14:20:00.0000000' AS DateTime2), N'Có nhóm du khách trẻ trèo lên bệ đá hái hoa', N'Thấp', NULL, N'Đã xử lý', N'KH05', N'C04')
INSERT [dbo].[BAO_CAO_SU_CO] ([MABC], [THOIGIANGUI], [MOTA], [MUCDONGUYHIEM], [HINHANH], [TRANGTHAI], [MAKHACH], [MACAY]) VALUES (N'BC03', CAST(N'2023-10-30T16:45:15.0000000' AS DateTime2), N'Nước chảy lênh láng quanh gốc cây, có vẻ vỡ ống', N'Trung bình', NULL, N'Đang xử lý', N'KH12', N'C03')
GO
INSERT [dbo].[CAY] ([MACAY], [TENCAY], [NGAYTRONG], [CHIEUCAO], [DUONGKINH], [VITRI], [TINHTRANGSINHTRUONG], [TRANGTHAIHOATDONG], [MALOAI], [MAKHU]) VALUES (N'C01', N'Lan phi điệp đột biến 5CT', CAST(N'2021-03-15' AS Date), CAST(0.60 AS Decimal(5, 2)), CAST(0.05 AS Decimal(5, 2)), N'Giàn treo số 1', N'Sinh trưởng tốt', N'Đang hoạt động', N'LOAI01', N'KHU03')
INSERT [dbo].[CAY] ([MACAY], [TENCAY], [NGAYTRONG], [CHIEUCAO], [DUONGKINH], [VITRI], [TINHTRANGSINHTRUONG], [TRANGTHAIHOATDONG], [MALOAI], [MAKHU]) VALUES (N'C02', N'Cau vua dọc lối đi chính', CAST(N'2016-06-20' AS Date), CAST(6.50 AS Decimal(5, 2)), CAST(0.35 AS Decimal(5, 2)), N'Dọc cổng chính', N'Cần theo dõi', N'Đang hoạt động', N'LOAI04', N'KHU02')
INSERT [dbo].[CAY] ([MACAY], [TENCAY], [NGAYTRONG], [CHIEUCAO], [DUONGKINH], [VITRI], [TINHTRANGSINHTRUONG], [TRANGTHAIHOATDONG], [MALOAI], [MAKHU]) VALUES (N'C03', N'Bách tán cổ thụ', CAST(N'2005-11-10' AS Date), CAST(12.00 AS Decimal(5, 2)), CAST(0.85 AS Decimal(5, 2)), N'Trung tâm quảng trường', N'Sinh trưởng tốt', N'Đang hoạt động', N'LOAI06', N'KHU01')
GO
INSERT [dbo].[HO_THUC_VAT] ([MAHO], [TENHO], [MOTA]) VALUES (N'HO01', N'Họ Phong lan', N'Các loài cây sống phụ sinh hoặc địa sinh, hoa có cấu trúc đặc biệt phức tạp')
INSERT [dbo].[HO_THUC_VAT] ([MAHO], [TENHO], [MOTA]) VALUES (N'HO02', N'Họ Đậu', N'Cây thân gỗ, thân thảo hoặc dây leo, quả dạng quả đậu, có khả năng cố định đạm')
INSERT [dbo].[HO_THUC_VAT] ([MAHO], [TENHO], [MOTA]) VALUES (N'HO03', N'Họ Ráy', N'Cây thân thảo, cụm hoa dạng bông mo, thích hợp môi trường ẩm ướt')
GO
INSERT [dbo].[KHACH_THAM_QUAN] ([MAKHACH], [HOTEN], [DIENTHOAI], [EMAIL], [TENDANGNHAP], [MATKHAU]) VALUES (N'KH01', N'Lê Minh Quân', N'0933242565', N'minhquan@gmail.com', N'minhquan', N'QuanMinh99#')
INSERT [dbo].[KHACH_THAM_QUAN] ([MAKHACH], [HOTEN], [DIENTHOAI], [EMAIL], [TENDANGNHAP], [MATKHAU]) VALUES (N'KH02', N'Hoàng Thu Thảo', N'0944345786', N'thuthao@gmail.com', N'thuthao', N'ThaoThu2002$')
INSERT [dbo].[KHACH_THAM_QUAN] ([MAKHACH], [HOTEN], [DIENTHOAI], [EMAIL], [TENDANGNHAP], [MATKHAU]) VALUES (N'KH03', N'Đặng Anh Tú', N'0965635666', N'anhtu@gmail.com', N'anhtu', N'TuAnh96@')
GO
INSERT [dbo].[KHU_TRUNG_BAY] ([MAKHU], [TENKHU], [VITRI], [DIENTICH], [MOTA]) VALUES (N'KHU01', N'Khu Ôn Đới', N'Phía Bắc vườn', CAST(1500.50 AS Decimal(8, 2)), N'Trưng bày các loài thực vật vùng khí hậu lạnh, ôn đới')
INSERT [dbo].[KHU_TRUNG_BAY] ([MAKHU], [TENKHU], [VITRI], [DIENTICH], [MOTA]) VALUES (N'KHU02', N'Khu Nhiệt Đới', N'Trung tâm vườn', CAST(3500.00 AS Decimal(8, 2)), N'Trưng bày hệ sinh thái rừng mưa nhiệt đới ẩm')
INSERT [dbo].[KHU_TRUNG_BAY] ([MAKHU], [TENKHU], [VITRI], [DIENTICH], [MOTA]) VALUES (N'KHU03', N'Khu Nhà Kính', N'Phía Đông vườn', CAST(800.25 AS Decimal(8, 2)), N'Môi trường kiểm soát nhiệt độ chuyên nuôi trồng các loài quý hiếm')
GO
INSERT [dbo].[LOAI_THUC_VAT] ([MALOAI], [TENTHUONGGOI], [TENKHOAHOC], [DACDIEMSINHHOC], [MOITRUONGSONG], [TINHTRANGBAOTON], [MAHO]) VALUES (N'LOAI01', N'Lan phi điệp', N'Dendrobium anomalum', N'Thân thòng, hoa màu tím hồng thơm nhẹ, ra hoa mùa hè.', N'Rừng ẩm nhiệt đới', N'Sắp nguy cấp', N'HO01')
INSERT [dbo].[LOAI_THUC_VAT] ([MALOAI], [TENTHUONGGOI], [TENKHOAHOC], [DACDIEMSINHHOC], [MOITRUONGSONG], [TINHTRANGBAOTON], [MAHO]) VALUES (N'LOAI02', N'Bách hợp', N'Lilium brownii', N'Cây thân củ, hoa to hình loa kèn màu trắng hoặc vàng.', N'Đồng cỏ ôn đới', N'Ít quan tâm', N'HO02')
INSERT [dbo].[LOAI_THUC_VAT] ([MALOAI], [TENTHUONGGOI], [TENKHOAHOC], [DACDIEMSINHHOC], [MOITRUONGSONG], [TINHTRANGBAOTON], [MAHO]) VALUES (N'LOAI03', N'Trầu bà lá xẻ', N'Monstera deliciosa', N'Lá to xẻ thùy sâu độc đáo, chịu bóng tốt, lọc không khí.', N'Dưới tán rừng mưa', N'Ít quan tâm', N'HO03')
GO
INSERT [dbo].[NHAN_VIEN] ([MANV], [HOTEN], [NGAYSINH], [GIOITINH], [DIENTHOAI], [EMAIL], [CHUCVU], [MATKHAU]) VALUES (N'NV01', N'Nguyễn Văn An', CAST(N'1990-05-15' AS Date), N'Nam', N'0901234567', N'vana@gmail.com', N'Kỹ thuật viên', N'AnNguyen90@')
INSERT [dbo].[NHAN_VIEN] ([MANV], [HOTEN], [NGAYSINH], [GIOITINH], [DIENTHOAI], [EMAIL], [CHUCVU], [MATKHAU]) VALUES (N'NV02', N'Trần Thị Bình', CAST(N'1995-11-20' AS Date), N'Nữ', N'0912345678', N'thib@gmail.com', N'Chuyên viên nghiên cứu', N'BinhTran95$')
INSERT [dbo].[NHAN_VIEN] ([MANV], [HOTEN], [NGAYSINH], [GIOITINH], [DIENTHOAI], [EMAIL], [CHUCVU], [MATKHAU]) VALUES (N'NV03', N'Phạm Hoàng Cường', CAST(N'1988-03-02' AS Date), N'Khác', N'0987654321', N'hoangc@gmail.com', N'Quản lý khu vực', N'CuongPham88#')
GO
INSERT [dbo].[PHIEU_CHAM_SOC] ([MAPHIEUCS], [NGAYCHAMSOC], [NOIDUNGCHAMSOC], [PHUONGPHAP], [TINHTRANGSAUCHAMSOC], [GHICHU], [MACAY], [MANV]) VALUES (N'PCS01', CAST(N'2023-10-01' AS Date), N'Bón phân NPK định kỳ', N'Bón gốc và tưới đẫm nước', N'Lá xanh tốt, rễ phát triển', N'Tiếp tục duy trì lượng phân bón', N'C01', N'NV04')
INSERT [dbo].[PHIEU_CHAM_SOC] ([MAPHIEUCS], [NGAYCHAMSOC], [NOIDUNGCHAMSOC], [PHUONGPHAP], [TINHTRANGSAUCHAMSOC], [GHICHU], [MACAY], [MANV]) VALUES (N'PCS02', CAST(N'2023-10-05' AS Date), N'Cắt tỉa tàu lá héo', N'Cắt thủ công bằng kéo chuyên dụng', N'Gọn gàng, sạch sẽ', N'Kiểm tra lại hệ thống tưới', N'C02', N'NV10')
INSERT [dbo].[PHIEU_CHAM_SOC] ([MAPHIEUCS], [NGAYCHAMSOC], [NOIDUNGCHAMSOC], [PHUONGPHAP], [TINHTRANGSAUCHAMSOC], [GHICHU], [MACAY], [MANV]) VALUES (N'PCS03', CAST(N'2023-10-10' AS Date), N'Phun thuốc đặc trị rệp sáp', N'Phun sương toàn bộ thân lá', N'Đã rụng rệp sáp', N'Cần phun nhắc lại sau 7 ngày', N'C04', N'NV04')
GO
INSERT [dbo].[PHIEU_KHAO_SAT] ([MAKS], [NGAYKHAOSAT], [CHIEUCAOGHINHAN], [DUONGKINHGHINHAN], [TINHTRANGLA], [TINHTRANGSINHTRUONG], [NHANXET], [MACAY], [MANV]) VALUES (N'PKS01', CAST(N'2023-10-21' AS Date), CAST(0.65 AS Decimal(5, 2)), CAST(0.06 AS Decimal(5, 2)), N'Xanh bóng, dày dặn', N'Sinh trưởng tốt', N'Cây phát triển đạt chuẩn theo độ tuổi', N'C01', N'NV02')
INSERT [dbo].[PHIEU_KHAO_SAT] ([MAKS], [NGAYKHAOSAT], [CHIEUCAOGHINHAN], [DUONGKINHGHINHAN], [TINHTRANGLA], [TINHTRANGSINHTRUONG], [NHANXET], [MACAY], [MANV]) VALUES (N'PKS02', CAST(N'2023-10-22' AS Date), CAST(6.55 AS Decimal(5, 2)), CAST(0.35 AS Decimal(5, 2)), N'Hơi ngả vàng ở lá chân', N'Cần theo dõi', N'Nghi ngờ thiếu vi lượng, cần bón bổ sung', N'C02', N'NV09')
INSERT [dbo].[PHIEU_KHAO_SAT] ([MAKS], [NGAYKHAOSAT], [CHIEUCAOGHINHAN], [DUONGKINHGHINHAN], [TINHTRANGLA], [TINHTRANGSINHTRUONG], [NHANXET], [MACAY], [MANV]) VALUES (N'PKS03', CAST(N'2023-10-23' AS Date), CAST(2.50 AS Decimal(5, 2)), CAST(0.20 AS Decimal(5, 2)), N'Bị xoăn, rụng nhiều', N'Bị sâu bệnh', N'Mức độ lây lan rệp sáp khá nhanh', N'C04', N'NV02')
GO
INSERT [dbo].[YEU_CAU_BAO_TRI] ([MABT], [NGAYTAO], [NOIDUNGBAOTRI], [MUCDOUUTIEN], [TRANGTHAI], [MANV], [MACAY]) VALUES (N'YC01', CAST(N'2023-10-26' AS Date), N'Gia cố cọc chống bão do dự báo có gió giật mạnh', N'Khẩn cấp', N'Chờ xử lý', N'NV03', N'C02')
INSERT [dbo].[YEU_CAU_BAO_TRI] ([MABT], [NGAYTAO], [NOIDUNGBAOTRI], [MUCDOUUTIEN], [TRANGTHAI], [MANV], [MACAY]) VALUES (N'YC02', CAST(N'2023-10-27' AS Date), N'Thay thế chậu sứ bị nứt hỏng', N'Trung bình', N'Đang xử lý', N'NV08', N'C05')
INSERT [dbo].[YEU_CAU_BAO_TRI] ([MABT], [NGAYTAO], [NOIDUNGBAOTRI], [MUCDOUUTIEN], [TRANGTHAI], [MANV], [MACAY]) VALUES (N'YC03', CAST(N'2023-10-28' AS Date), N'Xử lý tổ mối đùn dưới gốc cây', N'Cao', N'Đã xử lý', N'NV03', N'C03')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_TH__161CF7244AD15271]    Script Date: 7/3/2026 5:31:03 PM ******/
ALTER TABLE [dbo].[KHACH_THAM_QUAN] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_TH__6C836FE5DEE1709C]    Script Date: 7/3/2026 5:31:03 PM ******/
ALTER TABLE [dbo].[KHACH_THAM_QUAN] ADD UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_TH__9D6E201641A825C6]    Script Date: 7/3/2026 5:31:03 PM ******/
ALTER TABLE [dbo].[KHACH_THAM_QUAN] ADD UNIQUE NONCLUSTERED 
(
	[DIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOAI_THU__9FC1749834299D2D]    Script Date: 7/3/2026 5:31:03 PM ******/
ALTER TABLE [dbo].[LOAI_THUC_VAT] ADD UNIQUE NONCLUSTERED 
(
	[TENKHOAHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHAN_VIE__161CF724A11693C8]    Script Date: 7/3/2026 5:31:03 PM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHAN_VIE__9D6E2016378671CE]    Script Date: 7/3/2026 5:31:03 PM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD UNIQUE NONCLUSTERED 
(
	[DIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO] ADD  CONSTRAINT [DF_TrangThai_BCSC]  DEFAULT (N'Chờ xử lý') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI] ADD  CONSTRAINT [DF_TrangThai_YCBT]  DEFAULT (N'Chờ xử lý') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO]  WITH CHECK ADD FOREIGN KEY([MACAY])
REFERENCES [dbo].[CAY] ([MACAY])
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO]  WITH CHECK ADD FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACH_THAM_QUAN] ([MAKHACH])
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO]  WITH CHECK ADD  CONSTRAINT [fk_BaoCaoSC_Cay] FOREIGN KEY([MACAY])
REFERENCES [dbo].[CAY] ([MACAY])
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO] CHECK CONSTRAINT [fk_BaoCaoSC_Cay]
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO]  WITH CHECK ADD  CONSTRAINT [fk_BaoCaoSC_KhachThamQuan] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACH_THAM_QUAN] ([MAKHACH])
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO] CHECK CONSTRAINT [fk_BaoCaoSC_KhachThamQuan]
GO
ALTER TABLE [dbo].[CAY]  WITH CHECK ADD FOREIGN KEY([MAKHU])
REFERENCES [dbo].[KHU_TRUNG_BAY] ([MAKHU])
GO
ALTER TABLE [dbo].[CAY]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI_THUC_VAT] ([MALOAI])
GO
ALTER TABLE [dbo].[CAY]  WITH CHECK ADD  CONSTRAINT [fk_Cay_KhuTrungBay] FOREIGN KEY([MAKHU])
REFERENCES [dbo].[KHU_TRUNG_BAY] ([MAKHU])
GO
ALTER TABLE [dbo].[CAY] CHECK CONSTRAINT [fk_Cay_KhuTrungBay]
GO
ALTER TABLE [dbo].[CAY]  WITH CHECK ADD  CONSTRAINT [fk_Cay_LoaiThucVat] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI_THUC_VAT] ([MALOAI])
GO
ALTER TABLE [dbo].[CAY] CHECK CONSTRAINT [fk_Cay_LoaiThucVat]
GO
ALTER TABLE [dbo].[LOAI_THUC_VAT]  WITH CHECK ADD FOREIGN KEY([MAHO])
REFERENCES [dbo].[HO_THUC_VAT] ([MAHO])
GO
ALTER TABLE [dbo].[LOAI_THUC_VAT]  WITH CHECK ADD  CONSTRAINT [fk_LoaiThucVat_HoThucVat] FOREIGN KEY([MAHO])
REFERENCES [dbo].[HO_THUC_VAT] ([MAHO])
GO
ALTER TABLE [dbo].[LOAI_THUC_VAT] CHECK CONSTRAINT [fk_LoaiThucVat_HoThucVat]
GO
ALTER TABLE [dbo].[PHIEU_CHAM_SOC]  WITH CHECK ADD FOREIGN KEY([MACAY])
REFERENCES [dbo].[CAY] ([MACAY])
GO
ALTER TABLE [dbo].[PHIEU_CHAM_SOC]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_CHAM_SOC]  WITH CHECK ADD  CONSTRAINT [fk_PhieuCS_Cay] FOREIGN KEY([MACAY])
REFERENCES [dbo].[CAY] ([MACAY])
GO
ALTER TABLE [dbo].[PHIEU_CHAM_SOC] CHECK CONSTRAINT [fk_PhieuCS_Cay]
GO
ALTER TABLE [dbo].[PHIEU_CHAM_SOC]  WITH CHECK ADD  CONSTRAINT [fk_PhieuCS_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_CHAM_SOC] CHECK CONSTRAINT [fk_PhieuCS_NhanVien]
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT]  WITH CHECK ADD FOREIGN KEY([MACAY])
REFERENCES [dbo].[CAY] ([MACAY])
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT]  WITH CHECK ADD  CONSTRAINT [fk_PhieuKS_Cay] FOREIGN KEY([MACAY])
REFERENCES [dbo].[CAY] ([MACAY])
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT] CHECK CONSTRAINT [fk_PhieuKS_Cay]
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT]  WITH CHECK ADD  CONSTRAINT [fk_PhieuKS_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT] CHECK CONSTRAINT [fk_PhieuKS_NhanVien]
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI]  WITH CHECK ADD FOREIGN KEY([MACAY])
REFERENCES [dbo].[CAY] ([MACAY])
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI]  WITH CHECK ADD  CONSTRAINT [fk_YeuCauBT_Cay] FOREIGN KEY([MACAY])
REFERENCES [dbo].[CAY] ([MACAY])
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI] CHECK CONSTRAINT [fk_YeuCauBT_Cay]
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI]  WITH CHECK ADD  CONSTRAINT [fk_YeuCauBT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI] CHECK CONSTRAINT [fk_YeuCauBT_NhanVien]
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO]  WITH CHECK ADD  CONSTRAINT [CK_MucDo_BCSC] CHECK  (([MUCDONGUYHIEM]=N'Cao' OR [MUCDONGUYHIEM]=N'Trung bình' OR [MUCDONGUYHIEM]=N'Thấp'))
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO] CHECK CONSTRAINT [CK_MucDo_BCSC]
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai_BCSC] CHECK  (([TRANGTHAI]=N'Đã xử lý' OR [TRANGTHAI]=N'Đang xử lý' OR [TRANGTHAI]=N'Chờ xử lý'))
GO
ALTER TABLE [dbo].[BAO_CAO_SU_CO] CHECK CONSTRAINT [CK_TrangThai_BCSC]
GO
ALTER TABLE [dbo].[CAY]  WITH CHECK ADD  CONSTRAINT [CK_ChieuCao_Cay] CHECK  (([CHIEUCAO]>(0)))
GO
ALTER TABLE [dbo].[CAY] CHECK CONSTRAINT [CK_ChieuCao_Cay]
GO
ALTER TABLE [dbo].[CAY]  WITH CHECK ADD  CONSTRAINT [CK_DuongKinh_Cay] CHECK  (([DUONGKINH]>(0)))
GO
ALTER TABLE [dbo].[CAY] CHECK CONSTRAINT [CK_DuongKinh_Cay]
GO
ALTER TABLE [dbo].[CAY]  WITH CHECK ADD  CONSTRAINT [CK_TinhTrang_Cay] CHECK  (([TINHTRANGSINHTRUONG]=N'Đang phục hồi' OR [TINHTRANGSINHTRUONG]=N'Nguy cấp' OR [TINHTRANGSINHTRUONG]=N'Bị sâu bệnh' OR [TINHTRANGSINHTRUONG]=N'Cần theo dõi' OR [TINHTRANGSINHTRUONG]=N'Sinh trưởng tốt'))
GO
ALTER TABLE [dbo].[CAY] CHECK CONSTRAINT [CK_TinhTrang_Cay]
GO
ALTER TABLE [dbo].[CAY]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai_Cay] CHECK  (([TRANGTHAIHOATDONG]=N'Đã chết' OR [TRANGTHAIHOATDONG]=N'Đã di dời' OR [TRANGTHAIHOATDONG]=N'Đang hoạt động'))
GO
ALTER TABLE [dbo].[CAY] CHECK CONSTRAINT [CK_TrangThai_Cay]
GO
ALTER TABLE [dbo].[KHU_TRUNG_BAY]  WITH CHECK ADD  CONSTRAINT [CK_DienTich_Khu] CHECK  (([DIENTICH]>(0)))
GO
ALTER TABLE [dbo].[KHU_TRUNG_BAY] CHECK CONSTRAINT [CK_DienTich_Khu]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CK_GioiTinh_NV] CHECK  (([GIOITINH]=N'Khác' OR [GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CK_GioiTinh_NV]
GO
ALTER TABLE [dbo].[PHIEU_CHAM_SOC]  WITH CHECK ADD  CONSTRAINT [CK_NgayCS] CHECK  (([NGAYCHAMSOC]<=getdate()))
GO
ALTER TABLE [dbo].[PHIEU_CHAM_SOC] CHECK CONSTRAINT [CK_NgayCS]
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT]  WITH CHECK ADD  CONSTRAINT [CK_ChieuCao_KS] CHECK  (([CHIEUCAOGHINHAN]>=(0)))
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT] CHECK CONSTRAINT [CK_ChieuCao_KS]
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT]  WITH CHECK ADD  CONSTRAINT [CK_DuongKinh_KS] CHECK  (([DUONGKINHGHINHAN]>(0)))
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT] CHECK CONSTRAINT [CK_DuongKinh_KS]
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT]  WITH CHECK ADD  CONSTRAINT [CK_TinhTrang_KS] CHECK  (([TINHTRANGSINHTRUONG]=N'Đang phục hồi' OR [TINHTRANGSINHTRUONG]=N'Nguy cấp' OR [TINHTRANGSINHTRUONG]=N'Bị sâu bệnh' OR [TINHTRANGSINHTRUONG]=N'Cần theo dõi' OR [TINHTRANGSINHTRUONG]=N'Sinh trưởng tốt'))
GO
ALTER TABLE [dbo].[PHIEU_KHAO_SAT] CHECK CONSTRAINT [CK_TinhTrang_KS]
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI]  WITH CHECK ADD  CONSTRAINT [CK_MucDo_YCBT] CHECK  (([MUCDOUUTIEN]=N'Khẩn cấp' OR [MUCDOUUTIEN]=N'Cao' OR [MUCDOUUTIEN]=N'Trung bình' OR [MUCDOUUTIEN]=N'Thấp'))
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI] CHECK CONSTRAINT [CK_MucDo_YCBT]
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai_YCBT] CHECK  (([TRANGTHAI]=N'Đã xử lý' OR [TRANGTHAI]=N'Đang xử lý' OR [TRANGTHAI]=N'Chờ xử lý'))
GO
ALTER TABLE [dbo].[YEU_CAU_BAO_TRI] CHECK CONSTRAINT [CK_TrangThai_YCBT]
GO
USE [master]
GO
